body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.4rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-box button {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: #4c93af;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-box button:hover {
  background-color: #417e96;
}

.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.login-logo img {
  width: 80px;
  height: auto;
}

.login-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 320px;
}


.home-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #4ca0c2de;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar-header img {
  width: 50px;
  height: auto;
}

.menu-btn {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  background-color: transparent;
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: rgba(255,255,255,0.2);
}

.sidebar-bottom {
  margin-top: auto;
}

.home-content {
  flex: 1;
  padding: 2rem;
}
